.custom-icon-group > li {
    float: left;
    margin: 5px 8px;
    text-align: center;
    width: 40px;
}
.custom-icon-group li i {
    display: block;
    padding: 10px;
    color: #212529;
    font-size: 1rem;
}
.remove_custom_icon_group {
    cursor: pointer;
    float: right;
}
.custom-icon-uploder-btn {
    margin: 20px 0;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col-6 {
    min-height: 1px;
    position: relative;
    width: 50%;
}
.col-6 {
    float: left;
    max-width: 50%;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}
.btn {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}
.col-6 .card {
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    position: relative;
    padding: 0;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
    font-size: 18px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.rounded{
    border-radius: 0.25rem !important;
}
.border{border:1px solid #dee2e6!important}
.border-secondary{
    border-color:#6c757d!important;
}
.custom-icon-uploder-modal-content-child {
    font-size: 16px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}
#TB_ajaxWindowTitle {
    font-size: 20px;
}
.icon-copy-class-div > span {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}